<!DOCTYPE html>
<html lang="{{ page.lang }}">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap"
          rel="stylesheet">
    <style>{% include "style.css" %}</style>
  </head>

  <body>
    <header class="container">
      <a id="logo" href="/">
        <img src="/assets/logo.png" alt="Festival des Couleurs Logo">
      </a>
      <nav style="width:100%; justify-content:space-around;">
        <ul>
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/about-us">Festival</a>
          </li>
          <li>
            <a href="/lineup">Line-up</a>
          </li>
          <li>
            <a href="/tkt">Tickets</a>
          </li>
          <li>
            <a href="/faq">FAQ</a>
          </li>
        </ul>
      </nav>
      <nav style="margin-left: auto">{% include 'icons' %}</nav>
      <a id="lang" href="{{ page.url | replace_first: '/', '/fr/' | replace: '.html', ''}}"><svg xmlns="http://www.w3.org/2000/svg" id="flag-icons-fr" viewBox="0 0 640 480" height="20">
        <path fill="#fff" d="M0 0h640v480H0z"/>
        <path fill="#000091" d="M0 0h213.3v480H0z"/>
        <path fill="#e1000f" d="M426.7 0H640v480H426.7z"/>
      </svg> Français</a>
    </header>
    <main style="background-color: {{background}}; background-image: url('{{'/assets' | url }}/{{ background }}');">
      <div class="container">
        {{ content }}
      </div>
    </main>
    <footer class="container">
      <nav>{% include 'icons' %}</nav>
      <nav>
        <a href="mailto:info@holimontreal.com">Contact Us</a>
        <a href="/terms-and-conditions">Terms and Conditions</a>
        <a href="/privacy-policy">Privacy policy</a>
      </nav>
      <div id="outro">
        <img src="/assets/SAAQ.webp" width="160" />
        <img src="/assets/festival-of-india.webp" width="80" />
      </div>
      <small id="copyright">© 2024 par Festivals de l'Inde</small>
    </footer>
  </body>

</html>
